:root {

  --primary: rgba(0,0,0,1);
  --background: rgba(255, 255, 255, 1);
  background-color: var(--background);
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
svg{
  fill:var(--primary);
  position: fixed;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-family: Forum, serif;
  
  color: var(--background);
  mix-blend-mode: difference;
  margin: 0;
  z-index: 5;
}


h2 {
  font-family: Roboto, sans-serif;
  margin: 0;
  
  color: var(--background);
}

h2:hover{
  text-decoration: underline;
}

a{
  color: var(--primary);
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

